/*
	Altitude by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.homepage
	 {
		background: #364047 url(images/img02.jpg) repeat;
		padding-top: 10%;
	 }



/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		overflow: hidden;
		position: relative;
		padding: 10px 10px 10px 10px;
		background-color: #FFFFFF;
	}
	

	
	#banner a img
	{
		width: 100%;
		display: block;
		opacity: 0.5;
	}

	/*home의 가운데 사진*/
	#banner .image-box
	{
		position: relative;
		top: 0px;
		left: 0px;

		background-size: 100% 100%;
		height: 800px;
		width: 1200px;
		display: block;
		opacity: 0.5;
	}

	.login_div{
		top: 150px;
		left: 350px;
		width: 500px;
		height: 450px;
		border: 3px dotted lightgray;
		background-color: lightcyan;
		text-align: center;
		margin-top: auto;
		margin: auto;
	}

	/*login h3*/
	#login_h4{
		font-size: 30px;
		margin-top: 20px;
	}
	#login_hr0{
		width: 10%;
		border: 5px solid lightcyan;
		float: left;
	}
	#login_hr1{
		width: 10%;
		border: 5px solid lightgreen;
		float: left;
	}
	#login_hr2{
		width: 10%;
		border: 5px solid lightyellow;
		float: left;
	}
	#login_hr3{
		width: 10%;
		border: 5px solid lightsalmon;
		float: left;
	}
	#login_hr4{
		width: 10%;
		border: 5px solid lightcoral;
		float: left;
	}
	#login_hr5{
		width: 10%;
		border: 5px solid lightpink;
		float: left;
	}
	#login_hr6{
		width: 10%;
		border: 5px solid violet;
		float: left;
	}
	#login_hr7{
		width: 10%;
		border: 5px solid steelblue;
		float: left;
	}
	#login_hr8{
		width: 10%;
		border: 5px solid lightskyblue;
		float: left;
	}
	#login_hr9{
		width: 10%;
		border: 5px solid lightcyan;
		float: left;
	}

	.colorgraph{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#login_hr10{
		width: 80%;
		border : 1px solid lightgray;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.input_div{
		margin-top: 80px;
	}
	.login_input{
		background-color: aliceblue;
		border-radius: 10px;
		width: 80%;
		height: 50px;
	}

	.login_btn{
		width: 80%;
		height: 50px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		background-color: steelblue;
		border-radius: 15px;
	}


	.id_save{
		margin-bottom: 10px;
		padding-right: 240px;
	}


/*home.html의 banner*/
	#banner .caption
	{
		position: absolute;
		width: 100%;
		height: 145px;
		top: 10px;
		left: 0;
		line-height: 145px;
		background: url(images/img01.jpg) repeat;
		font-size: 2em;
        font-weight : 500;
		color: #aaa;
        letter-spacing: 5px;
		text-align: center;
		text-shadow: -1px -1px 1px rgba(0,0,0,1);
		color: #FFFFFF;
	}
	

	#banner .caption span strong
	{
		color: #ffffff;
	}
	
	#banner .caption .button
	{
		border: solid 1px #001916;
        letter-spacing: 2px;
		margin-left: 0.8em;
	}
	

/*********************************************************************************/
/* Wrapper                                                                        */
/*********************************************************************************/

	#wrapper
	{
		padding-bottom: 4em;
	}
